# Template for local secrets
# Copy this to 'application-local.properties' and fill in the values
# 'application-local.properties' is ignored by Git

minio.access=<MINIO_ACCESS_KEY>
minio.secret-key=<MINIO_SECRET_KEY>